.controls{
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
}

.controls label{
  margin-bottom: calc( 1vmin + 2px );
  padding:0.5em 0.5em 0.25em 0.5em;
  border:solid 1px #4caaaf;
  flex:1;
  flex-basis: 10em;
  flex-grow: 1;
  background-color:rgba(255, 0, 173, 0.19);
  color:#d4ff00;
  border-radius:0.5em;
}

.controls input{
  vertical-align:middle;
  width:100%;
}

button{
  width:100%;
  padding:1em;
  font-weight:bold;
  background-color: #ff4ac6;
  color:white;
  border-radius:0.5em;
}
