body{
  background-color:#222;
}

#dots circle{
  fill: rgba(255,255,255,0.5);
}

#lines line{
  stroke:rgba(244, 27, 176, 0.42);
  fill:none;
  stroke-width:1px;
}

#tabs path{
  stroke:rgba(225, 255, 0, 0.39);
  stroke-width:2px;
  fill:none;
}
